.corepage {
   
    text-align: center;
    padding-top: 10em;
}

.col-1, .col-10 {
    border: 1px solid #ccc;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

table {
   
    border-collapse: collapse;
}

th, td {
    text-align: center; /* Horizontally center */
    vertical-align: middle; /* Vertically center */
  //  padding: 10px; /* Optional padding for better spacing */
    font-size: 15px; /* Smaller font size for printing */
}

/* Style for the page content outside the modal */
#page-content {
    padding: 20px;
    background-color: #f5f5f5;
}

.modal-content {
    border: none;
}

/* Hide the page content when modal is shown */
.hidden-content {
    display: none;
}

.elementitem {
    padding: 10px 0px;
}

/* Manage date + nclient */ 
.ontopsection{
   display: none;
} 
.total-section{
   display: none;
}
.second-titling-section{
  
display: none!important;
}

/* Printing styles */
@media print {
   
    @page {
        size:  auto; /* Set page size to A4 portrait */
        margin-left: 10.16mm!important; /* Remove all margins */
        padding: 0;
        margin-right: 5px!important;
        margin-top: 8mm!important; // was 8mm if margin is enabled */ 
        overflow: visible!important;
        html {
            height: auto;
        }
    }
   

    body {
       // text-align: center;
        //margin:0 5px 0 5px!important;
       // padding: 10px!important;
        //visibility: hidden;  /* Hide everything on the page */
       // text-align: center!important;
        //margin-left: -3px!important;
       // margin-top: 20px!important;
       overflow: hidden!important;
       visibility: hidden!important;
    }
    .corepage{
       padding: 0!important;

    }
    .modal{
        overflow: visible !important; 
        max-width: 100%;
        position: static !important; /* Remove fixed positioning */
        width: 100% !important; /* Full width */
        height: 100% !important; /* Allow height to be automatic */
        overflow: visible !important; /* Allow overflow */
        display: block !important; /* Make sure it displays */
        margin: 0; /* Remove margins */
    }
    .modal-dialog{
       
        margin: 0!important;
        max-width: 100%!important;
        table{
        border-color: transparent!important;
        width: 100%!important;
        text-align: center!important;
        margin-top: 20px!important;
        }
        td,th,tr{
            padding: 0!important;
            margin: 0!important;
            
        }
        
        thead{
            &:nth-child(1){
                display: none!important;
            }
        }
       td{
            width: 50px!important;
            &:nth-child(1){
                width: 40px!important;
            }
            &:nth-child(6){
                width: 180px!important;
              // padding-right: 150px!important;
             }
            //width: 70px!important;
          /*  &:nth-child(1){
             //  width: 60px!important;
            }
            &:nth-child(2){
               // width: 50px!important;
            }
            &:nth-child(3){
                //width: 50px!important;
                //padding-right: 8px!important;
            }
            &:nth-child(4){
                width: 60px!important;
                margin-left: 10px!important;
                
            }
        
            &:nth-child(5){
                width: 60px!important;
                margin-left: 10px!important;
            }
           
            &:nth-child(7){
                width: 50px!important;

            }*/
        }
        .iitem{
            //width: 70px!important;
        }
        .oeil{
          //  width: 45px;
            text-align: center!important;
        }
        .designation{
            //width: 145px!important;
            text-align: center !important;
            display: flex;
            justify-content: center;
             padding: 0 !important;
            /* margin: 0 !important; */
            //width: 100%;
        }
        .quantite{
           // margin-left: 30px!important;
        }
    }
   
    .modal-content, .modal-content * {
        padding: 0 !important;
        //margin: 40px 0px 0 0px !important;
        visibility: visible;  /* Show modal content */
        font-size: 16px !important; /* Smaller font size for printing */
        //margin: 0px !important;
        
        
       
      
        th{
            font-size: 13px!important;
        }
       
    }

    .modal-footer, .btn { 
        display: none;  /* Hide buttons during print */
    }

    .table-responsive {
        overflow: hidden !important; /* Disable scrollbars */
       // max-width: 100% !important; /* Full width for the table container */
    }
   
    
    .special-width{
        font-size: 15px!important;
        margin: 15px!important;
    }
   
    //*  Manage date + nclient*/
     .ontopsection{
       margin-left: 25mm!important;
       margin-right: 10mm!important;
        display: flex!important;
        justify-content: space-between;
        margin-bottom: 10mm!important;
     } 
     .total-section{
        display: flex;
        justify-content: flex-end;
        margin-top: 20px;
        margin-right: 8mm!important;
     }
     .gap{
        height: 90px;
     }
     .price{
        margin-top: 60px;
        margin-right: 10px;
     }
     .second-titling-section{
        display: table-row!important;
        height: 120px!important;
        .barcode{
            width: 100%;
            text-align: center;
            display: flex;
            justify-content: center;
            img{
                width: 45%;
            }
        }
        td{
            &:nth-child(1){
                padding-left: 100px!important;
                text-align: left;

                
            }
            &:nth-child(2){
                //padding-left: 100px!important;
                text-align: center;

                
            }
            &:nth-child(3){
                text-align: right;
                padding-right: 50px!important;                 
            }
        }
    }
    .barcode{
        width: 150px;
        img{
            width: 100%;
        }
    }

    
}

/*    .modal {
        position: absolute;
        top: 0;
        left: 0;
        width: 100vw; /* Full width for modal */
       // height: auto; /* Auto height */
   // }*/
